@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
}


.header{
    background: url("../img/section-1(header).jpg")
no-repeat fixed;
    background-size: cover;
    opacity: 0.9;
}

.header-block{
    background-color: #49473F60;

}

.nav-menu{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #fff;
    background-image: url("../img/Polygon 1@1X.png");
    background-repeat: no-repeat;
    width: 59px;
    height: 56px;
    text-align: center;
    padding-top: 13px;
    display: inline-block;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 14px;
    text-decoration: none;
}

.the-text{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}

.ham-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #18CFAB;
}

.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: #B8B8B8;
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 40px;
    padding-top: 44px;
    vertical-align: middle;
}

.nav-item:hover{
    border-bottom: 1px solid #18CFAB;
    color: #18CFAB;
}

.search-icon{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #B8B8B8;
}

.header-top-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 123px;
    margin-bottom: 23px;
}

.wordpress-text{
    color: #18CFAB;
}

.header-middle-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 69px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.header-bottom-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #D4D4D4;
    margin-bottom: 106px;
}

.basic-btn:focus{
    outline: none;
}

.wrapper-btn{
    text-align: center;
    padding-bottom: 183px;
}

.basic-btn{
    width: 169px;
    height: 68px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    box-shadow: inset 0 5px 0 #fff;
    border-radius: 5px;
    background-color: #18CFAB;
    border: none;
}
.green-btn{
    margin-right: 20px;
}

.blue-btn{
    background-color: #00CBF6;
}

.advantages-block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dark{
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
}

.light{
    background-color: #18CFAB;
    border-top: 8px solid #fff;
}

.general-option{
    text-align: center;
    box-sizing: border-box;
}

.finger-img{
    margin-top: 71px;
}

.diamond-img{
    margin-top: 80px;
}

.lamp-img{
    margin-top: 71px;
}

.device-img{
    margin-top: 79px;
}

.advantages-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 60px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 25px;
}

.white-text{
    padding-top: 36px;
    color: #fff;
}

.basic-title-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-top: 90px;
    text-align: center;
    color: #4E4E4E;
}

.services-block{
    background-color: #fff;
}

.img-item{
    width: 194px;
    height: 139px;
    display: none;
}

.img-item-active{
    display: block;
}



.basic-title-text::after{
    content: '';
    width: 93px;
    height: 4px;
    display: block;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skewX(70deg);
    margin: 37px auto;
}

.services-item{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    background-color: #F8FCFE;
    margin-bottom: 18px;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-top: 53px;



}

.services-item-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    list-style: none;
    padding: 28px 0;
    border: 1px solid #EBECEC;
    position: relative;
}

.services-item-name:after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #18CFAB;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    bottom: -9px;
    left: 80px;
    z-index: -1;
}



.active.services-item-name:after{
    z-index: 0;
}

.services-item-name:hover{
    background-color: #18CFAB;
    border: none;
    color: #fff;
}

.active{
    background-color: #18CFAB;
    border: none;
    color: #fff;
}

.img-text{
    display: flex;
    justify-content: space-between;
}

.leptop-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.8;
    margin-left: 15px;
    color: #777777;
    display: none;
}

.leptop-text-active{
    display: block;
}

.block-2{
    background: linear-gradient(
    rgba(0, 0, 0, 0.78),
    rgba(0, 0, 0, 0.78) ),
    url("../img/section-2.jpg")
no-repeat
    center;
    background-size: cover;
    margin-top: 105px;
}

.everything-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    text-align: center;
    padding-top: 130px;
    text-transform: uppercase;
}

.smooth-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D8D8D8;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 75px;
}

.purchase-btn{
    text-align: center;
    padding-bottom: 96px;
}

.amazing-work-block{
    background-color: #F8FCFE;
}

.amazing-work-item{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 53px;
}

.amazing-work-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    padding: 22px 20px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

.amazing-work-name:hover{
    color: #18CFAB;
    border-top: 2px solid #18CFAB;
    padding-top: 21px;
}

.amazing-work-name-active{
    color: #18CFAB;
    border-top: 2px solid #18CFAB;
    padding-top: 21px;
}

.wraper-amazing-img{
    margin: 0 auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card {
    position: relative;
    perspective: 1000px;
}

.white-panel{
    box-sizing: border-box;
    border-top: 2px solid #18cfab;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card:hover .all-img {
    transform: rotateY(180deg);}
.card:hover .white-panel {
    transform: rotateY(360deg);
}




.forma1{
    width: 41px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #18cfab;
    text-align: center;
    display: inline-block;
}

.forma1-img{
    padding-top: 11px;
}

.search-panel{
    width: 41px;
    height: 40px;
    border-radius: 50%;
    background-color: #18CFAB;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.circle{
    text-align: center;
    padding: 40px 34px;
}

.forma2-img{
    padding-top: 13px;

}

.creative-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.web-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #A0A1A1;
    text-align: center;
}

.all-img{
    width: 100%;
    height: 100%;
    transition: 1s;
    backface-visibility: hidden;
}

.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.add-img{*/
/*     display: none;*/
/*}*/

.wraped-loadbtn{
    text-align: center;
    margin-top: 53px;
    padding-bottom: 75px;
    display: none;
}

.load-btn{
    width: 169px;
    height: 68px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    background-color: #18CFAB;
    border: none;
    font-size: 14px;
}

.load-btn:focus{
    outline: none;
}

.plus-text{
    margin-right: 12px;
    font-size: 26px;
    vertical-align: middle;
}

.wraper-img-news{
    max-width: 1160px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 45px;
    background-color: #fff;
    column-gap: 28px;
}

.parameters{
    background-repeat: no-repeat;
    width: 263px;
    height: 208px;
}

.first-news{
    background-image: url("../img/man.png");
}

.second-news{
    background-image: url("../img/fire.png");
}

.third-news{
    background-image: url("../img/bike.png");
}

.fourth-news{
    background-image: url("../img/pen.png");
}

.fifth-news{
    background-image: url("../img/bird.png");
}

.sixth-news{
    background-image: url("../img/bike2.png");
}

.seventh-news{
    background-image: url("../img/calm.png");
}

.eights-news{
    background-image: url("../img/pen2.png");
}

.wraper-amazing-text{
    background-color: #F8FCFE;
    width: 263px;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 12px;
}

.amazing-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #717171;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 14px;
}

.date{
    width: 69px;
    height: 67px;
    background-color: #203E38;
    float: right;
    text-align: center;
}

.text-span{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888989;

}

.test{
    margin-left: 20px;
}

.test::after{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #ABACAD;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.number{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 2;
}

.month{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.date-text{
    width: 29px;
    height: 37px;
    margin: 0 auto;
    padding-top: 7px;
}

.general-wraper{
    text-decoration: none;
}

.general-wraper:hover .date{
    background-color: #18cfab;
}

.general-wraper:hover .amazing-text{
    color: #18cfab;
}

.last-block{
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) ),
    url("../img/section-3.jpg"),
    no-repeat;
    margin-top: 173px;
    background-size: cover;
}

.basic-white{
    color: #fff;
}

.quotes{
    width: 45px;
    height: 31px;
    background-image: url("../img/quotes.png");
    margin: 50px auto;
    background-repeat: no-repeat;
}

.feedback-block{
    max-width: 1160px;
    margin: 0 auto;
    /*opacity: 0;*/
    display: none;

}

.feedback-block-active{
    display: block;
    /*opacity: 1;*/

}

.feedback{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #BBBBBB;
    line-height: 2;
    text-align: center;
}

.user-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #18CFAB;
    text-align: center;
    text-transform: uppercase;
    margin-top: 43px;
}

.user-job{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #A3A7A8;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 52px;
}

.hold-top{
    margin-bottom: 42px;
}

.user-photo{
    width: 143px;
    height: 143px;
    border: 10px solid #114C4B;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("../img/foto_big.png");
}

.user-photo1{
    background-image: url("../img/foto_small1.png");
    background-size: cover;
}

.user-photo2{
    background-image: url("../img/foto_small2.png");
    background-size: cover;
}

.user-photo4{
    background-image: url("../img/foto_small3.png");
    background-size: cover;
}

.insert-circle{
    width: 143px;
    height: 143px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #21CEAC;
}

.wrapper-small-photo{
    padding: 100px 0;
    text-align: center;
}

.arrows-left{
    width: 31px;
    height: 31px;
    text-align: center;
    border: 1px solid #919697;
    display: inline-block;
    margin-right: 35px;
    box-sizing: border-box;
}

.arrows-right{
    width: 31px;
    height: 31px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #919697;
    display: inline-block;
    margin-right: 35px;
}

.arrows-img{
    padding-top: 8px;
}

.user-small-photo{
    width: 68px;
    height: 68px;
    border: 4px solid #114C4B;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 35px;
}

/*.user-small-photo:hover{*/
/*    transform: translate(0, -20px);*/
/*    transition:  0.2s linear;*/
/*}*/

.insert-active{
    width: 61px;
    height: 61px;
    box-sizing: border-box;
    border: 1px solid #22D8B5;
    border-radius: 50%;
}

.second-arrows{
    transform: rotate(180deg);
    padding-bottom: 8px;
}

.photo1{
    background-image: url("../img/foto_small1.png");
}

.photo2{
    background-image: url("../img/foto_small2.png");
}

.photo3{
    background-image: url("../img/foto_medium.png");
    background-position: center;
}

.photo4{
    background-image: url("../img/foto_small3.png");
}

.arrows:hover{
    background-color: #18cfab;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

.best-images{
    background-color: #f8fcfe;
}

.wrapper-btn-best{
    text-align: center;
    margin-top: 65px;
}

.footer-block{
    background-color: #22353f;
    margin-top: 80px;
}

.footer-text{
    padding: 47px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #767e82;
    text-align: center;
}

.link-ham{
    text-decoration: none;
    color: #18cfab;
}

.footer{
    background-color: #fff;
    padding-bottom: 11px;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

.item-masonry{
    margin-bottom: 5px;
}

.item-masonry2{
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    margin-bottom: 5px;
}

.item-masonry2 img{
    margin: 1px;
    object-fit: cover;
}

.container-masonry{
    width: 1130px;
    margin: 0 auto;
}




.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.artboard {
    margin: 20px 0;
    display: none;
    justify-content: center;
}

.domino > div {
    border-radius: 8px;
    display: inline-flex;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    -webkit-animation: domino-effect 2.4s infinite ease-in-out;
    animation: domino-effect 2.4s infinite ease-in-out;
}
.domino > div:nth-child(1) {
    background: #354558;
}
.domino > div:nth-child(1):after {
    background: #354558;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.domino > div:nth-child(2) {
    background: #625059;
}
.domino > div:nth-child(2):after {
    background: #625059;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.domino > div:nth-child(3) {
    background: #905b5c;
}
.domino > div:nth-child(3):after {
    background: #905b5c;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.domino > div:nth-child(4) {
    background: #bd665e;
}
.domino > div:nth-child(4):after {
    background: #bd665e;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.domino > div:nth-child(5) {
    background: #eb7260;
}
.domino > div:nth-child(5):after {
    background: #eb7260;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.domino > div:nth-child(1) {
    margin: 23px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.domino > div:nth-child(2) {
    margin: 23px;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.domino > div:nth-child(3) {
    margin: 23px;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.domino > div:nth-child(4) {
    margin: 23px;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.domino > div:nth-child(5) {
    margin: 23px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.domino > div:after {
    content: "";
    position: relative;
    top: 0px;
    left: -70px;
    opacity: 0;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    -webkit-animation: illusion 2.4s infinite ease-in-out;
    animation: illusion 2.4s infinite ease-in-out;
}

@-webkit-keyframes beat {
    to {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}

@keyframes beat {
    to {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}
@keyframes spin {
    to {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}
@-webkit-keyframes domino-effect {
    20%,100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
@keyframes domino-effect {
    20%,100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
@-webkit-keyframes illusion {
    0%, 25% {
        opacity: 1;
    }
    26.10%, 33.33%, 100% {
        opacity: 0;
    }
}
@keyframes illusion {
    0%, 25% {
        opacity: 1;
    }
    26.10%, 33.33%, 100% {
        opacity: 0;
    }
}











































